{{ define "home" }}
    <div class="container">
        <!-- banner -->
        <div class="row">
            <div class="col-md-12">
                <img src="../img/banner.png" alt="图床服务已经跑路" class="img-responsive center-block">
            </div>
        </div>
        <div class="separate"></div>

        <!-- 几个分类的缩略图 -->
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="../img/network-1.jpg" alt="通用的占位符缩略图">
                    <div class="caption">
                        <h3>network</h3>
                        <p>网络编程(C/C++, Go) 并发编程(异步事件循环 协程)。</p>
                        <p>
                            <a href="/specific_category?category=Network" class="btn btn-primary" role="button">
                                了解更多
                            </a>
                            <a href="#" class="btn btn-default" role="button">
                                分享(&times;)
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="../img/os-1.jpg" alt="通用的占位符缩略图">
                    <div class="caption">
                        <h3>OS</h3>
                        <p>以xv6(risc-v)为例，学习操作系统的基本原理。</p>
                        <p>
                            <a href="/specific_category?category=OS" class="btn btn-primary" role="button">
                                了解更多
                            </a>
                            <a href="#" class="btn btn-default" role="button">
                                分享(&times;)
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="../img/cppgo.webp" alt="通用的占位符缩略图">
                    <div class="caption">
                        <h3>modern pragram language</h3>
                        <p>现代编程语言的使用。</p>
                        <p>
                            <a href="/specific_category?category=Program" class="btn btn-primary" role="button">
                                了解更多
                            </a>
                            <a href="#" class="btn btn-default" role="button">
                                分享(&times;)
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="../img/algorithm.jpg" alt="通用的占位符缩略图">
                    <div class="caption">
                        <h3>algorithm</h3>
                        <p>一些算法题解，不保证严格数学证明。</p>
                        <p>
                            <a href="/specific_category?category=Algorithm" class="btn btn-primary" role="button">
                                了解更多
                            </a>
                            <a href="#" class="btn btn-default" role="button">
                                分享(&times;)
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="separate"></div>
        <!-- 主页显示最新的n个note -->
        <div class="row">
            <div class="col-md-8 col-md-offset-2 content-custom">
                <h2>最新内容：</h2>
                <hr>
                <table class="table table-striped table-hover table-condensed">
                    <tbody>
                        {{ range . }}
                        <tr>
                            <td>
                                <span class="post-date"> {{ .UpdateTime }}</span>
                                <span class="post-title"><a href="/article?id={{ .Id }}">{{ .Title }}</a></span>
                            </td>
                            <td>
                                <span class="post-author"> {{ .Author }} </span>
                            </td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
{{ end }}
